<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.magellan2018.alice.app" ios-CFBundleVersion="1.3.3" version="1.3.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Magellan LARP 2018</name>
    <description>Magellan 2018 LARP Mobile Application.</description>
    <author email="info@magellan2018.ru" href="http://magellan2018.ru/">Saint-Petersburg Format</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/an-icon-36-ldpi.png" />
        <icon density="mdpi" src="resources/android/icon/an-icon-48-mdpi.png" />
        <icon density="hdpi" src="resources/android/icon/an-icon-72-hdpi.png" />
        <icon density="xhdpi" src="resources/android/icon/an-icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="resources/android/icon/an-icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/android/icon/an-icon-192-xxxhdpi.png" />
        <splash density="port-mdpi" src="resources/android/splash/and-ss15-320-mdpi.png" />
        <splash density="port-hdpi" src="resources/android/splash/and-ss16-480-hdpi.png" />
        <splash density="port-xhdpi" src="resources/android/splash/and-ss17-720-xhdpi.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/and-ss16-960-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/and-ss17-1080-xxxhdpi.png" />
        <splash density="mdpi" src="resources/android/splash/and-land-ss15-320-mdpi.png" />
        <splash density="hdpi" src="resources/android/splash/and-land-ss16-480-hdpi.png" />
        <splash density="xhdpi" src="resources/android/splash/and-land-ss17-720-xhdpi.png" />
        <splash density="xxhdpi" src="resources/android/splash/and-land-ss16-960-xxhdpi.png" />
        <splash density="xxxhdpi" src="resources/android/splash/and-land-ss17-1080-xxxhdpi.png" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash height="480" src="resources/ios/splash/ss15-ios320.png" width="320" />
        <splash height="960" src="resources/ios/splash/ss15-ios640.png" width="640" />
        <splash height="1136" src="resources/ios/splash/ss17-ios640.png" width="640" />
        <splash height="1334" src="resources/ios/splash/ss17-ios750.png" width="750" />
        <splash height="2208" src="resources/ios/splash/ss17-ios1242.png" width="1242" />
        <icon height="180" src="resources/ios/icon/ios-icon-180.png" width="180" />
        <icon height="167" src="resources/ios/icon/ios-icon-167.png" width="167" />
        <icon height="152" src="resources/ios/icon/ios-icon-152.png" width="152" />
        <icon height="144" src="resources/ios/icon/ios-icon-144.png" width="144" />
        <icon height="120" src="resources/ios/icon/ios-icon-120.png" width="120" />
        <icon height="114" src="resources/ios/icon/ios-icon-114.png" width="114" />
        <icon height="100" src="resources/ios/icon/ios-icon-100.png" width="100" />
        <icon height="87" src="resources/ios/icon/ios-icon-87.png" width="87" />
        <icon height="80" src="resources/ios/icon/ios-icon-80.png" width="80" />
        <icon height="76" src="resources/ios/icon/ios-icon-76.png" width="76" />
        <icon height="72" src="resources/ios/icon/ios-icon-72.png" width="72" />
        <icon height="60" src="resources/ios/icon/ios-icon-60.png" width="60" />
        <icon height="58" src="resources/ios/icon/ios-icon-58.png" width="58" />
        <icon height="57" src="resources/ios/icon/ios-icon-57.png" width="57" />
        <icon height="50" src="resources/ios/icon/ios-icon-50.png" width="50" />
        <icon height="40" src="resources/ios/icon/ios-icon-40.png" width="40" />
        <icon height="29" src="resources/ios/icon/ios-icon-29.png" width="29" />
        <resource-file src="GoogleService-Info.plist" target="app/GoogleService-Info.plist" />
        <config-file parent="UIBackgroundModes" platform="ios" target="*-Info.plist">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
    </platform>
    <preference name="deployment-target" value="8.0" />
    <preference name="target-device" value="handset" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="loadUrlTimeoutValue" value="666666" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <allow-navigation href="http://192.168.178.29:8100" />
    <plugin name="cordova-custom-config" spec="^4.0.2" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="ionic-plugin-keyboard" spec="^2.2.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^7.1.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="phonegap-plugin-push" spec="^2.2.2">
        <variable name="ANDROID_SUPPORT_V13_VERSION" value="27.+" />
        <variable name="FCM_VERSION" value="11.6.2" />
        <variable name="SENDER_ID" value="786784916655" />
    </plugin>
    <plugin name="cordova-plugin-brightness" spec="^0.2.0" />
    <plugin name="cordova-android-support-gradle-release" spec="^1.4.4">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
    <engine name="browser" spec="5.0.3" />
    <engine name="ios" spec="4.5.4" />
    <engine name="android" spec="7.1.0" />
</widget>
