// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  standard:   #F3F5F8,  // Used for normal text
  primary:    #4990E2,  // Standard bluish foreground color
  green:      #68BB0D,
  yellow:     #B2901D,
  red:        #FF373F
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:          color($colors, standard);
$background-color:    #4A5760;
$toolbar-background:  #32383D;

// The doc says: "Color of the image when it hasn't fully loaded yet".
// In fact it was image backgroud even when loading has finished.
$img-placeholder-background: transparent;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$item-md-paragraph-text-color: rgba($text-color, 0.7);
$list-md-border-color: #8494A1;

// TODO(Andrei): Fix list item background on click

$action-sheet-md-background: transparent;
$action-sheet-md-button-background: $toolbar-background;
$action-sheet-md-button-background-activated: lighten($toolbar-background, 8%);
$action-sheet-md-button-text-color: color($colors, primary);

$button-md-background-color: $toolbar-background;
$button-md-text-color: color($colors, primary);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$action-sheet-ios-background: $action-sheet-md-background;
$action-sheet-ios-button-background: $action-sheet-md-button-background;
$action-sheet-ios-button-cancel-background: $action-sheet-ios-button-background;
$action-sheet-ios-button-background-activated: $action-sheet-md-button-background-activated;
$action-sheet-ios-button-text-color: $action-sheet-md-button-text-color;

$button-ios-background-color: $button-md-background-color;
$button-ios-text-color: $button-md-text-color;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
