// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$standard-blue:   #4C99E5;  // Standard bluish color
$standard-green:  #68BB0D;  // "OK", "good"
$standard-yellow: #B2901D;  // Warnings
$standard-red:    #FF373F;  // Errors and dangerous actions

$colors: (
  // Colors used by Ionic internally
  standard:   #F0F2F4,  // Normal text
  primary:      $standard-blue,

  // Foreground colors for use on dark backgrounds (toolbar)
  dark-blue:    $standard-blue,
  dark-green:   $standard-green,
  dark-yellow:  $standard-yellow,
  dark-red:     $standard-red,

  // Foreground colors for use on lighter backgrounds (main area)
  light-blue:   lighten(saturate($standard-blue, 30%), 12%),
  light-green:  lighten($standard-green, 8%),
  light-yellow: lighten(saturate($standard-yellow, 4%), 10%),
  light-red:    lighten(saturate($standard-red, 20%), 6%),
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: color($colors, standard);
$text-color-pale: darken($text-color, 16%);
$text-color-bright: #FFFFFF;
$text-color-unread: #FFFFFF;

$background-color: #545B60;
$background-color-activated: lighten($background-color, 8%);
$background-color-highlighted: mix($background-color, color($colors, dark-blue), 85%);

$md-section-header-color: $text-color;
$ios-section-header-color: lighten($background-color, 20%);
$section-separator-color: lighten($background-color-highlighted, 10%);

$toolbar-background: #34383A;
$toolbar-background-activated: lighten($toolbar-background, 8%);

$menu-background-color: #404549;
$menu-separator-color: lighten($menu-background-color, 10%);
$menu-background-color-activated: lighten($menu-background-color, 8%);

$separator-color: #8494A1;

// The doc says: "Color of the image when it hasn't fully loaded yet".
// In fact it was image backgroud even when loading has finished.
$img-placeholder-background: transparent;

$alert-min-width: 285px;

.destructive-button {
    color: color($colors, light-red) !important;
}


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$item-md-detail-push-show: true;
$item-md-paragraph-text-color: rgba($text-color, 0.7);

$list-md-border-color: $separator-color;
$list-md-activated-background-color: $background-color-activated;

$action-sheet-md-background: transparent;
$action-sheet-md-button-background: $background-color;
$action-sheet-md-button-background-activated: $background-color-activated;
$action-sheet-md-button-text-color: color($colors, standard);

.action-sheet-md .action-sheet-button {
  min-height: 5.2rem !important;  // default: 4.8
}

$alert-md-message-text-color: $text-color;
$alert-md-background-color: $background-color;
$alert-md-button-background-color-activated: $background-color-activated;
$alert-md-max-width: $alert-min-width;
$alert-md-input-text-color: $text-color;

.alert-md .alert-title {
  color: color($colors, standard);
}

$button-md-background-color: $toolbar-background;
$button-md-text-color: color($colors, primary);

$card-md-header-color: $text-color-pale;
$card-md-text-color: $text-color-pale;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$menu-ios-background: $toolbar-background;

$item-ios-detail-push-show: true;
$item-ios-paragraph-text-color: rgba($text-color, 0.7);

$list-ios-border-color: $separator-color;
$list-ios-activated-background-color: $background-color-activated;

$action-sheet-ios-background: transparent;
$action-sheet-ios-button-background: $background-color;
$action-sheet-ios-button-cancel-background: $action-sheet-ios-button-background;
$action-sheet-ios-button-background-activated: $background-color-activated;
$action-sheet-ios-button-text-color: color($colors, standard);
$action-sheet-ios-border-color: $background-color-activated;
$action-sheet-ios-button-border-color: $background-color-activated;
$action-sheet-ios-button-border-width: 1px;
$action-sheet-ios-button-padding: 1.4rem;


$alert-ios-message-text-color: color($colors, standard);
$alert-ios-background: $background-color;
$alert-ios-button-background-color-activated: $background-color-activated;
$alert-ios-max-width: $alert-min-width;
$alert-ios-button-border-color: lighten($background-color, 20%);
$alert-ios-input-background-color: lighten($background-color, 6%);
$alert-ios-input-border-color: lighten($background-color, 20%);	

.alert-ios .alert-title {
  color: color($colors, standard);
}

.alert-ios .alert-button:last-child {
  font-weight: normal !important;
}

ion-menu .item-ios, ion-menu .content-ios {
  background-color: $menu-background-color;
  border-color: $menu-separator-color !important;
}

ion-menu .item-ios, ion-menu .list-ios .item-block .item-inner {
  border-color: $menu-separator-color !important;
}

ion-menu .item-ios.activated {
  background-color: $menu-background-color-activated;
}

$button-ios-font-size: 1.7rem;
$button-ios-background-color: $toolbar-background;
$button-ios-text-color: color($colors, primary);

$card-ios-header-color: $card-md-header-color;
$card-ios-text-color: $card-md-text-color;




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
