// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$standard-blue:   #4990E2;  // Standard bluish color
$standard-green:  #68BB0D;  // "OK", "good"
$standard-yellow: #B2901D;  // Warnings
$standard-red:    #FF373F;  // Errors and dangerous actions

$colors: (
  // Colors used by Ionic internally
  standard:   #F3F5F8,  // Normal text
  primary:      $standard-blue,

  // Foreground colors for use on dark backgrounds (toolbar)
  pale-blue:    $standard-blue,
  pale-green:   $standard-green,
  pale-yellow:  $standard-yellow,
  pale-red:     $standard-red,

  // Foreground colors for use on lighter backgrounds (main area)
  light-blue:   lighten(saturate($standard-blue, 30%), 12%),
  light-green:  lighten($standard-green, 8%),
  light-yellow: lighten(saturate($standard-yellow, 4%), 10%),
  light-red:    lighten(saturate($standard-red, 20%), 6%),
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: color($colors, standard);
$background-color: #4A5760;
$background-color-activated: lighten($background-color, 8%);
$toolbar-background: #32383D;
$toolbar-background-activated: lighten($toolbar-background, 8%);

// The doc says: "Color of the image when it hasn't fully loaded yet".
// In fact it was image backgroud even when loading has finished.
$img-placeholder-background: transparent;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$item-md-detail-push-show: true;
$item-md-paragraph-text-color: rgba($text-color, 0.7);

$list-md-border-color: #8494A1;
$list-md-activated-background-color: $background-color-activated;

$action-sheet-md-background: transparent;
$action-sheet-md-button-background: $toolbar-background;
$action-sheet-md-button-background-activated: $toolbar-background-activated;
$action-sheet-md-button-text-color: color($colors, primary);

$alert-md-message-text-color: $text-color;
$alert-md-background-color: $toolbar-background;
$alert-md-button-background-color-activated: $toolbar-background-activated;

$button-md-background-color: $toolbar-background;
$button-md-text-color: color($colors, primary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$item-ios-detail-push-show: true;
$item-ios-paragraph-text-color: rgba($text-color, 0.7);

$list-ios-border-color: #8494A1;
$list-ios-activated-background-color: $background-color-activated;

$action-sheet-ios-background: $action-sheet-md-background;
$action-sheet-ios-button-background: $action-sheet-md-button-background;
$action-sheet-ios-button-cancel-background: $action-sheet-ios-button-background;
$action-sheet-ios-button-background-activated: $action-sheet-md-button-background-activated;
$action-sheet-ios-button-text-color: $action-sheet-md-button-text-color;

$alert-ios-message-text-color: $alert-md-message-text-color;
$alert-ios-background: $alert-md-background-color;
$alert-ios-button-background-color-activated: $alert-md-button-background-color-activated;

$button-ios-background-color: $button-md-background-color;
$button-ios-text-color: $button-md-text-color;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
