page-economy {
  .sectionSeparator {
    height: 2px;
    background: $separator-color;
    border: none;
  }
  .balance {
    text-align: right;
    vertical-align: top;
    font-size: 140%;
    font-weight: bold;
    color: color($colors, light-blue);
  }
  .submitButton {
    width: 100%;
    margin-top: 1em;
  }
}
