<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{body.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <sublist-item *ngFor="let item of body.items" [data]="item" (deleteMe)="onDelete(item.text)"></sublist-item>
    <div padding>
      <button *ngIf="body.addAction" ion-button full (click)="onAdd()">
        {{body.addAction.buttonText}}
      </button>
    </div>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <button ion-button block clear color='primary' (click)="onCancel()">
            Отмена
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block clear color='primary' (click)="onOk()">
            OK
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
