page-technical-info {
  .log {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    .debug {
      color: color($colors, light-blue);
    }
    .info {
      color: color($colors, standard);
    }
    .warning {
      color: color($colors, light-yellow);
    }
    .error {
      color: color($colors, light-red);
    }
  }
}
