<div *ngIf="!filter || filter == data.tag" [ngClass]="{'unread-container': data.unread}">

<button ion-item *ngIf="hasSubpage()" (click)="openSubpage()">
  <img class="overProgressBar" style='height: 1.4em; width: 1.4em' *ngIf="data.hasIcon" [src]='getIcon()' item-left>
  <h2 class="itemText overProgressBar" [ngClass]="{'unread-text': data.unread}">{{data.text}}</h2>
  <p class="itemSubtext overProgressBar">{{data.subtext}}</p>
  <div class="backgroundprogressbar" [ngStyle]="{'width': getProgressBarWidth(), 'background-color': getProgressBarColor()}"></div>
  <ion-note *ngIf="getValue()" class="itemValue overProgressBar" item-right [ngStyle]="{'color': getValueColor()}">{{getValue()}}</ion-note>
</button>

<ion-item *ngIf="!hasSubpage()">
  <img style='height: 1.4em; width: 1.4em' *ngIf="data.hasIcon" [src]='getIcon()' class="overProgressBar" item-left/>
  <h2 class="itemText overProgressBar" [ngClass]="{'unread-text': data.unread}">{{data.text}}</h2>
  <p class="itemSubtext overProgressBar">{{data.subtext}}</p>
  <div class="backgroundprogressbar" [ngStyle]="{'width': getProgressBarWidth(), 'background-color': getProgressBarColor()}"></div>
  <ion-note *ngIf="getValue()" class="itemValue overProgressBar" item-right [ngStyle]="{'color': getValueColor()}">{{getValue()}}</ion-note>
</ion-item>
</div>