quick-action-button {
  #infoText {
     font-weight: bold;
     color: color($colors, primary);
     position: absolute;
     bottom: 0;
     right: 1vw;
     text-shadow:
       -0.05em -0.05em 0 $toolbar-background,
          0em  -0.05em 0 $toolbar-background,
        0.05em -0.05em 0 $toolbar-background,
          0em  -0.05em 0 $toolbar-background,
       -0.05em  0.05em 0 $toolbar-background,
          0em   0.05em 0 $toolbar-background,
        0.05em  0.05em 0 $toolbar-background,
          0em   0.05em 0 $toolbar-background,
       -0.1em -0.1em 0 $toolbar-background,
          0em -0.1em 0 $toolbar-background,
        0.1em -0.1em 0 $toolbar-background,
          0em -0.1em 0 $toolbar-background,
       -0.1em  0.1em 0 $toolbar-background,
          0em  0.1em 0 $toolbar-background,
        0.1em  0.1em 0 $toolbar-background,
          0em  0.1em 0 $toolbar-background,
        0.15em 0em 0 $toolbar-background,
        0.2em  0em 0 $toolbar-background,
        0.25em 0em 0 $toolbar-background,
        0.3em  0em 0 $toolbar-background,
        0.35em 0em 0 $toolbar-background,
        0.4em  0em 0 $toolbar-background,
        0.55em 0em 0 $toolbar-background,
        0.5em  0em 0 $toolbar-background;
  }
}
